:root {
  --footer-height: 3rem;
  --background-color: #1e1e1e;
  --hover-gray: #3e3e3e;
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: white;
}

body {
  background-color: var(--background-color);
  margin: 0 0 0 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.body-container {
  padding-bottom: var(--footer-height);
}

.nav-bar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: left;
}

.nav-btn,
.nav-btn-here {
  background-color: var(--background-color);
  border: none;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 1.25rem;
}

.nav-btn:hover {
  background-color: var(--hover-gray);
  cursor: pointer;
}

.nav-btn-here {
  background-color: var(--hover-gray);
}

.nav-text {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--primary-text-color);
  text-decoration: none;
}

.header {
  background-image: url("images/code_blurred.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 4rem 1rem 4rem 1rem;
  text-align: center;
}

.pic-rnd-md,
.experience-pic {
  border-radius: 100%;
  box-shadow: 0 0 0 0.375rem #2d2d30cc;
  object-fit: cover;
}

.pic-rnd-md {
  width: 8rem;
  height: 8rem;
}

.header-title {
  font-family: var(--primary-font);
  font-size: 4rem;
  font-weight: 100;
  color: var(--primary-text-color);
  text-align: center;
}

@media (max-width: 1300px) {
  .chunk {
    margin: 0 auto;
    width: 90%;
    padding: 0 0 1rem 0;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .chunk {
    margin: 0 auto;
    width: 50%;
    padding: 0 0 1rem 0;
    text-align: center;
  }
}

.chunk-title {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 100;
  color: var(--primary-text-color);
  line-height: 1rem;
  padding: 0;
}

.chunk-body {
  text-align: left;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--primary-text-color);
  line-height: 1.5rem;
  padding: 0;
}

footer {
  width: 100%;
  height: var(--footer-height);
  background-color: #131313;
  position: absolute;
  bottom: 0;
  display: flex;
}

@media (max-width: 1300px) {
  .experience-ul {
    width: 90%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    align-items: left;
  }

  .experience-btn {
    background-color: var(--background-color);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .experience-ul {
    width: 50%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    align-items: left;
  }

  .experience-btn {
    background-color: var(--background-color);
    border: none;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
  }
}

.experience-btn:hover {
  background-color: var(--hover-gray);
  cursor: pointer;
}

.experience-pic {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.experience-title {
  text-align: start;
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 100;
  color: var(--primary-text-color);
  line-height: 1rem;
  padding: 0;
}

.experience-text-container {
  padding: 1rem;
}

.experience-link {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 100;
  color: #6677d0;
  line-height: 1.5rem;
}

.footer-text {
  padding-left: 0.75rem;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 100;
  color: #a0a0a0;
  text-decoration: none;
}
